.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.question-button{
  display:inline-block;/*コレ*/
  width: 12em;
  height:3em;
}
.answer{
  width: 15em;
  height:2em;
  font-size: 16px;
  margin-top: 50px;
}

select:invalid {
  color: gray;
}
select option {
  color: black;
}

.answer-button{
  width: 15em;
  height:3em;
  font-size: 16px;
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
